<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="n_alumnos_nuevos" value="200" />
        <add key="n_profesores" value="20" />
        <add key="n_cursos" value="4" />
        <add key="n_titulaciones" value="5" />
        <add key="n_cursos_simular" value="7" />
    </appSettings>
</configuration>